body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    width: 100px;
    height: 100px;
}
.block{
    display: block;
}
.inlineBlock{
    display: inline-block;
}
.quest{
    margin: 10px;
}
.ans{
    
}
.graphBox{
    width: 600px;
    height: 300px;
}